<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div *ngIf="form" class="container w-100 h-full flex items-center justify-center">
  <div class="permission-form p-10">
    <form (submit)="submit()" [formGroup]="form">
      <div class="input-field">
        <label for="name">الاسم المختصر</label>
        <input id="name" formControlName="name" [class.error]="!form.get('name')?.invalid && form.get('name')?.touched"
          placeholder="الاسم المختصر" />
      </div>

      <div class="input-field">
        <label for="description">الوصف</label>
        <textarea class="textarea" formControlName="description">
        </textarea>
      </div>

      <div class="status-toggle-wraper">
        <div class="toggle-wrapper">
          <p><mat-slide-toggle labelPosition="after" formControlName="transformation"
              class="mx-10">التحويل</mat-slide-toggle></p>
        </div>
      </div>
      <button class="accept-btn" [disabled]="form.invalid">موافق</button>
    </form>
  </div>
</div>