<div class="wrapper veryLightGray-bg" dir="rtl">
  <a routerLink="/">
    <img class="logo" src="assets/images/logo.png" alt="">
  </a>
</div>

<div class="qr-container" dir="rtl">
  <h1 class="container-title">حافظ على أمان حسابك</h1>
  <div class="microsoft">
    <div class="microsoft-title">تطبيق المصادقة</div>
    <div class="content-wrapper">
      <div class="content">
        <p class="content-title">امسح رمز QR</p>
        <p>استخدم تطبيق المصادقة لمسح رمز QR. هذا سيقوم بربط تطبيق Microsoft Authenticator بحسابك.</p>
        <p>بعد مسح رمز QR، اختر "التالي"</p>
      </div>
      <div class="qr-wrapper mb-3">
        <img src="{{qrImageUrl}}" alt="">
      </div>
    </div>
    <div class="actions">
      <button routerLink="/login/set-authenticator" class="back">رجوع</button>
      <button routerLink="/login/code-authenticator" class="next">التالي</button>
    </div>
  </div>
</div>
