<div class="wrapper veryLightGray-bg">
  <a  routerLink="/">
    <img class="logo" src="assets/icons/logo.svg" alt="">
  </a>
</div>
<div class="container">
  <h1 class="container-title">Keep your account secure</h1>
  <div class="microsoft">
    <div class="microsoft-title">App Authenticator</div>
    <div class="content-wrapper">
      <div class="content">
        <p class="content-title">Scan the QR code</p>
        <p>Use the App authenticator app to scan the Qr code. this will connect the Microsoft Anthenticator app with your account.</p>
        <p>After you scan the QR code, choose "Next"</p>
      </div>
      <div class="qr-wrapper">
        <img src="{{qrImageUrl}}" alt="">
      </div>
    </div>
    <div class="actions">
      <button routerLink="/login/set-authenticator" class="back">Back</button>
      <button routerLink="/login/code-authenticator" class="next">Next</button>
    </div>
  </div>
</div>
