<div class="procedures my-6">
  <div class="header flex p-3 justify-between items-center">
    <div class="title">إجراءات تنفيذ البرنامج</div>
    <div class="flex gap-2 items-center">
      <div class="tasks flex gap-1 pt-2">
        الجميع
        <p><mat-slide-toggle></mat-slide-toggle></p>
        مهامي
      </div>
      <button class="add-list-btn">اضافة قائمة</button>
    </div>
  </div>
  <div class="procedures-list pt-8 p-3 mb-5">
    <div class="title mb-5">إجراءات تنفيذ البرنامج</div>
    <div class="procedures-inprogress">
      <div class="procedure-type-title">الاجراءات قيد التنفيذ</div>
      <div
        class="procedures-wrapper flex gap-2 items-center relative"
        *ngFor="let procedures of inProgressProcedures"
      >
        <input
          type="checkbox"
          class="status-input"
          #checkbox
          (click)="changeProceduresStatus(checkbox)"
        />
        <a
          [routerLink]="[procedures.id]"
          class="procedures-name block my-2"
          (mouseenter)="showToolTip(procedures.id)"
          (mouseleave)="startHideTimeout()"
        >
          {{ procedures.title }}
        </a>

        <!-- Tooltip -->
        <div
          *ngIf="tooltipVisible == procedures.id"
          class="custom-tooltip absolute bg-white shadow-md flex items-center justify-center gap-1 p-2"
          (mouseenter)="cancelHideTimeout()"
          (mouseleave)="startHideTimeout()"
        >
          <i
            class="bi bi-trash3 trash-i"
            (click)="delete(procedures.id)"
          ></i>
          <i class="bi bi-pencil-square edit-i"></i>
        </div>

        <span class="procedures-date" *ngIf="procedures.progress_percentage">
          % {{ procedures.progress_percentage }}
        </span>
        <span class="procedures-date" *ngIf="procedures.comments">
          <i class="bi bi-chat"></i>
          {{ procedures.comments }}
        </span>
        <span class="procedures-date" *ngIf="procedures.userImage">
          <img src="{{ procedures.userImage }}" alt="" />
        </span>
      </div>
      <button class="add-procedures-btn my-2" routerLink="/main/programs/{{projectId}}/procedures/create">اضافة اجراء</button>
    </div>
    <hr />

    <div class="procedures-done">
      <div class="procedure-type-title"> الإجراءات التي تم تنفيذها </div>
      <div
        class="procedures-wrapper flex gap-2 items-center relative"
        *ngFor="let procedures of completedProcedures"
      >
        <input
          type="checkbox"
          class="status-input"
          #checkbox
          checked
          (click)="changeProceduresStatus(checkbox)"
        />
        <a
          [routerLink]="[procedures.id]"
          class="procedures-name done block my-2"
          (mouseenter)="showToolTip(procedures.id)"
          (mouseleave)="startHideTimeout()"
        >
          {{ procedures.title }}
        </a>

        <span class="procedures-date" *ngIf="procedures.progress_percentage">
          % {{ procedures.progress_percentage }}
        </span>
        <span class="procedures-date" *ngIf="procedures.comments">
          <i class="bi bi-chat"></i>
          {{ procedures.comments }}
        </span>
        <span class="procedures-date" *ngIf="procedures.userImage">
          <img src="{{ procedures.userImage }}" alt="" />
        </span>
      </div>
    </div>
    <hr />

    <div class="procedures-lated">
      <div class="procedure-type-title">الاجراءات قيد التنفيذ</div>
      <div
        class="procedures-wrapper flex gap-2 items-center relative"
        *ngFor="let procedures of stalledProcedures"
      >
        <input
          type="checkbox"
          class="status-input"
          #checkbox
          checked
          (click)="changeProceduresStatus(checkbox)"
        />
        <a
          [routerLink]="[procedures.id]"
          class="procedures-name done block my-2"
          (mouseenter)="showToolTip(procedures.id)"
          (mouseleave)="startHideTimeout()"
        >
          {{ procedures.title }}
        </a>

        <span class="procedures-date" *ngIf="procedures.progress_percentage">
          % {{ procedures.progress_percentage }}
        </span>
        <span class="procedures-date" *ngIf="procedures.comments">
          <i class="bi bi-chat"></i>
          {{ procedures.comments }}
        </span>
        <span class="procedures-date" *ngIf="procedures.userImage">
          <img src="{{ procedures.userImage }}" alt="" />
        </span>
      </div>
    </div>
  </div>
</div>
