<div class="wrapper veryLightGray-bg">
  <a [queryParamsHandling]="'merge'" routerLink="/">
    <img class="logo" src="assets/icons/logo.svg" alt="">
  </a>
</div>
<div class="container">
  <h1 class="container-title">Keep your account secure</h1>
  <div class="microsoft">
    <div class="microsoft-title">App Authenticator</div>
    <div class="content-wrapper">
      <!-- <img class="auth-image" src="../../../../../../assets/icons/icons8-microsoft-authenticator-50.png"> -->
      <div class="content">
        <p class="content-title">Set up your account</p>
        <p>if prompted. all notifications. Then add an account.</p>
      </div>
    </div>
    <div class="actions">
      <button routerLink="/login/authenticator" class="back">Back</button>
      <button routerLink="/login/qr-authenticator" class="next">Next</button>

    </div>
  </div>
</div>
