<div class="files-wrapper w-full">
  <div class="title">ملفات تم رفعها مؤخرا</div>
  <div class="w-full flex-wrap flex items-center gap-3">
    <div class="file  p-2" *ngFor="let file of files" (click)="openDialog(file)">
      <div class="file-header flex justify-between">
        <div class="header-title">{{ file.title }}</div>
        <div class="date">{{ file.date }}</div>
      </div>
      <div class="file-icon flex items-center w-full">
        <img
          *ngIf="file.fileType == 'pdf'"
          src="assets/images/pdf-icon.svg"
          alt=""
        />
        <img
          *ngIf="file.fileType == 'docx'"
          src="assets/images/docx-icon.svg"
          alt=""
        />
      </div>
      <div class="file-name">{{ file.name }}</div>
    </div>
  </div>
</div>
