<div class="header-container">
    <div class="navbar flex items-center justify-between px-5">
        <div class="actions flex gap-4">
            <a (click)="openTechnicalSupport()" class="flex items-center gap-1">
                <i class="bi bi-wrench"></i>
                الدعم الفني
            </a>
            <a href="" class="flex items-center gap-1">
                <i class="bi bi-list-task"></i>
                البرامج
            </a>
        </div>
        <div class="search-wrapper">
            <i class="bi bi-search search-icon" style="color: #8bb81f; font-weight: bolder;"></i>
            <input type="search" class="search-input" placeholder="بحث" >
        </div>
    </div>
</div>