
.accept-btn {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading-btn {
  position: relative !important;
  font-size: 0px !important ;
  min-width: 80px;
  pointer-events: none;
}

.loading-btn * {
  opacity: 0.2;
}

.loading-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: black;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

button.flat {
  padding: 0;
}

.close-dialog-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

mat-button {
  .loading {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
}


.fixed-buttons-wrapper {
  position: sticky;
  margin-top: 1rem;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  bottom: 0;
  left: 0;
  padding: 1rem;
}


