<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>

<div class="roles-form p-9 max-w-md mx-auto">
  <form #resetForm="ngForm" (submit)="resetPassword()" class="space-y-6">

    <!-- New Password -->
    <div>
      <label for="newPassword" class="block mb-1 font-medium text-gray-700">كلمة المرور الجديدة</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        [(ngModel)]="form.newPassword"
        (ngModelChange)="onPasswordChange()"
        #newPassword="ngModel"
        required
        class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-300"
        placeholder="أدخل كلمة المرور الجديدة" />
      <div *ngIf="newPassword.invalid && newPassword.touched" class="text-red-500 text-sm mt-1">
        كلمة المرور مطلوبة
      </div>
    </div>

    <!-- Confirm Password -->
    <div>
      <label for="confirmPassword" class="block mb-1 font-medium text-gray-700">تأكيد كلمة المرور</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="form.confirmPassword"
        (ngModelChange)="onPasswordChange()"

        #confirmPassword="ngModel"
        required
        class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-300"
        placeholder="أعد كتابة كلمة المرور" />
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="text-red-500 text-sm mt-1">
        تأكيد كلمة المرور مطلوب
      </div>
      <div *ngIf="passwordMismatch && confirmPassword.touched" class="text-red-500 text-sm mt-1">
        كلمتا المرور غير متطابقتين
      </div>
    </div>

    <!-- Submit Button -->
    <div class="text-end">
      <button
        [disabled]="isUpdating || !resetForm.form.valid "
        [class.loading-btn]="isUpdating"
        type="submit"
        class="accept-btn">
        موافق
      </button>
    </div>

  </form>
</div>
