.procedures-container {
  .header {
    font-weight: 500;
    .title {
      color: #5b5b5b;
      font-size: 20px;
      display: inline-block;
    }
    .description {
      font-size: 13px;
      color: #9d9d9d;
    }
  }

  .procedure-details {
    // مؤشرات الاداء للاجراءات
    .status {
      background: #fff;
      border-radius: 7px;
      margin-bottom: 25px;
      box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.49);
      padding: 20px;
      .title {
        color: #5d5c5c;
        font-size: 16px;
        margin: 0 0 15px 0;
        font-weight: 600;
      }
      .status-row {
        color: #5d5c5c;
        font-size: 14px;
        font-weight: 600;
        .status-name {
          .status-color {
            display: block;
            width: 10px;
            height: 10px;
          }
          .done {
            background-color: #4a6310;
          }
          .late {
            background-color: #8bb820;
          }
          .in-progress {
            background-color: #c9c9c9;
          }
        }
      }
    }
    // آخر التحديثات
    .last-updates {
      background: #fff;
      border-radius: 7px;
      margin-bottom: 25px;
      box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.49);
      .title {
        color: #858585;
        font-size: 15px;
        border-bottom: 1px solid #eeeeee;
        font-weight: 500;
      }
      .update-details {
        font-weight: 500;
        .date {
          color: #434874;
          font-size: 15px;
        }
        .details {
          color: #858585;
          .report-name {
            color: #1b6ab3;
            font-size: 16px;
            &:hover {
              color: #8bb81f;
              border-bottom: 1px solid #8bb81f;
              cursor: pointer;
            }
          }
          .user-info {
            background: #eeeeee;
            color: #666;
            border-radius: 15px;
            font-size: 16px;
            padding: 5px;
            .user-image {
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
            &:hover {
              color: #fff;
              background: #d0d0d0;
              cursor: pointer;
            }
          }
        }
      }
      .more-btn {
        border: 1px solid #adadad;
        border-radius: 7px;
        padding: 5px 10px;
        display: table;
        &:hover {
          color: white;
          background-color: #8bb81f;
        }
      }
    }
    //  إجراءات تنفيذ البرنامج

    hr {
      margin: 20px 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }
  .done {
    text-decoration: line-through;
  }
  .latest-reports {
    .send-report-btn {
      background: #fff;
      border: 1px solid #d4d4d4;
      color: #858585;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      &:hover{
        background-color: #8bb81f;
        color: white;
      }
    }
    .latest-committee-list,
    .members-list {
      background: #fff;
      border-radius: 7px;
      margin-bottom: 25px;
      box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 0.49);

      .header {
        border-bottom: 1px solid #eeeeee;
        color: #858585;
        font-size: 15px;
        .latest-committee-title,
        .members-title {
          color: #858585;
          font-size: 15px;
        }
      }
      .committee-list {
        .committee {
          &:hover {
            cursor: pointer;
          }
          .committee-image {
            width: 60px;
            height: 60px;
            border-radius: 7px;
          }
          .committee-details {
            color: #858585;
            font-size: 16px;
          }
        }
      }
    }
    .members-list {
      .user-info {
        background: #eeeeee;
        color: #666;
        border-radius: 15px;
        font-size: 16px;
        padding: 5px;
        width: fit-content;
        &:hover {
          background: #8bb81f;
          color: #fff;
        }
        .user-image {
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
        &:hover {
          color: #fff;
          background: #d0d0d0;
          cursor: pointer;
        }
      }
      .add-member-btn {
        color: #adadad;
        background: #f5f5f5;
        border-radius: 3px;
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
    }
  }
}

:host ::ng-deep.apexcharts-legend {
  display: none !important;
  visibility: hidden !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden !important;
}

input[type="checkbox"] {
  appearance: none; /* Remove default checkbox styling */
  width: 16px;
  height: 16px;
  border: 1px solid #2e2e2e;
  cursor: pointer;
  background-color: white;
}

input[type="checkbox"]:checked {
  background-color: #9acc23 !important;
}
