<div class="procedures-container p-3" *ngIf="project">
  <div class="header mb-2">
    <div class="title mr-3">{{project.title}}</div>
    <div class="description mr-3">
      {{project.content}}
    </div>
  </div>
  <div class="flex gap-5">
    <div class="procedure-details w-[67%]">
      <div class="status-wrapper flex gap-6 mb-4">
        <!-- مؤشرات الاداء للقرارات -->
        <div class="status w-[50%] flex gap-2">
          <div class="w-[70%]">
            <div class="title">مؤشرات الاداء للقرارات</div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color done"></span>
                منجز
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color late"></span>
                متعثر
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
            <div class="status-row flex justify-between">
              <div class="status-name flex items-center gap-2">
                <span class="status-color in-progress"></span>
                قيد التنفيذ
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
          </div>
          <div id="chart">
            <apx-chart [series]="desicionChartOptions.series" [chart]="desicionChartOptions.chart"
              [labels]="desicionChartOptions.labels" [fill]="desicionChartOptions.fill"
              [dataLabels]="desicionChartOptions.dataLabels" [responsive]="desicionChartOptions.responsive"></apx-chart>
          </div>
        </div>
        <!-- مؤشرات الاداء للاجراءات -->
        <div class="status w-[50%] flex gap-2">
          <div class="w-[70%]">
            <div class="title">مؤشرات الاداء للاجراءات</div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color done"></span>
                منجز
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color late"></span>
                متعثر
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
            <div class="status-row flex justify-between">
              <div class="status-name flex items-center gap-2">
                <span class="status-color in-progress"></span>
                قيد التنفيذ
              </div>
              <div class="status-precent">
                {{ "0%" }}
              </div>
            </div>
          </div>
          <div id="chart">
            <apx-chart [series]="proceduresChartOptions.series" [chart]="proceduresChartOptions.chart"
              [labels]="proceduresChartOptions.labels" [fill]="proceduresChartOptions.fill"
              [dataLabels]="proceduresChartOptions.dataLabels"
              [responsive]="proceduresChartOptions.responsive"></apx-chart>
          </div>
        </div>
      </div>

      <!-- آخر التحديثات -->

      <div class="last-updates mb-3 pb-2">
        <div class="title p-3">آخر التحديثات</div>
        <div class="update-details p-3" *ngFor="let update of lastUpdates">
          <div class="date mb-1">{{ update.date }}</div>
          <div class="details flex items-center">
            تم تغيير حالة التقرير
            <span class="report-name mx-1">
              {{ update.reportName }}
            </span>
            بواسطة
            <div class="user-info flex gap-2 mr-1">
              <img src="{{ update.userImage }}" class="user-image" alt="" />
              {{ update.userName }}
            </div>
          </div>
        </div>
        <button class="more-btn m-3">المزيد</button>
      </div>

      <!-- قرارات اللجنة العليا لحماية البيئة -->

      <app-decisions-list [showMore]="true"  [decisions]="decisions$ | async"></app-decisions-list>


      <!-- إجراءات تنفيذ البرنامج -->

      <app-procedures-list *ngIf="inProgressProcedures && completedProcedures && stalledProcedures"
        [inProgressProcedures]="inProgressProcedures" [completedProcedures]="completedProcedures"
        [stalledProcedures]="stalledProcedures"></app-procedures-list>
    </div>



    <div class="latest-reports w-[33%]">
      <button class="send-report-btn mb-3" routerLink="create">
        إرسال تقرير عن البرامج الي اللجنة العليا
      </button>
      <div class="latest-committee-list mb-3">
        <div class="header flex justify-between p-3">
          <div class="latest-committee-title">أخر مستجدات اللجنة</div>
          <button class="more-btn" [routerLink]="'/main/committee-updates-list/' + project.id">المزيد</button>
        </div>
        <div class="committee-list p-3 flex flex-col gap-2">
          <div [routerLink]="'/main/committee-updates-list/' + post?.id" class="committee flex gap-4"
            *ngFor="let post of posts$ | async">
            <img class="committee-image" src="{{ post.image }}" alt="" />
            <div class="committee-details">
              <div class="mb-3">{{ post.title }}</div>
              <div>{{ post.created_at | date }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="members-list mb-3">
        <div class="header flex justify-between p-3 mb-3">
          <div class="members-title">الأعضاء</div>
          <button class="more-btn">المزيد</button>
        </div>
        <div class="member-list p-3 flex flex-wrap gap-2">
          <div class="user-info flex gap-2 mr-1" *ngFor="let member of project?.members">
            <img *ngIf="member.user?.image" src="{{ member.user?.image }}" class="user-image" alt="" />
            <mat-icon *ngIf="!member.user?.image">person</mat-icon>

            {{ member.user?.name }}
          </div>
        </div>
        <div class="flex justify-center p-4">
          <button (click)="openAddMemberModal()" class="add-member-btn">
            <i class="bi bi-plus" style="color: #8bb81f; font-size: 20px; font-weight: 700"></i>
            اضافة
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ملفات تم رفعها مؤخرا -->
  <app-user-files [inputFiles]="files"></app-user-files>
</div>
