<app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>

<div *ngIf="isLoaded" class="procedures-container p-3">
  <div *ngIf="project" class="header mb-2">
    <div class="title mr-3">{{ project.title }}</div>
    <div class="description mr-3">
      {{ project.content }}
    </div>
  </div>

  <div class="flex gap-5">
    <div class="procedure-details w-3/4">
      <div class="status-wrapper flex gap-6 mb-4">
        <!-- مؤشرات الاداء للقرارات -->
        <div class="status w-[50%] flex gap-2">
          <div class="w-[70%]">
            <div class="title">مؤشرات الاداء للقرارات</div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color done"></span>
                منجز
              </div>
              <div class="status-precent">
                {{
                (completedProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color late"></span>
                متعثر
              </div>
              <div class="status-precent">
                {{
                (stalledProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
            <div class="status-row flex justify-between">
              <div class="status-name flex items-center gap-2">
                <span class="status-color in-progress"></span>
                قيد التنفيذ
              </div>
              <div class="status-precent">
                {{
                (inProgressProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
          </div>
          <div id="chart">
            <apx-chart [series]="desicionChartOptions.series" [chart]="desicionChartOptions.chart"
              [labels]="desicionChartOptions.labels" [fill]="desicionChartOptions.fill"
              [dataLabels]="desicionChartOptions.dataLabels" [responsive]="desicionChartOptions.responsive"></apx-chart>
          </div>
        </div>
        <!-- مؤشرات الاداء للاجراءات -->
        <div class="status w-[50%] flex gap-2">
          <div class="w-[70%]">
            <div class="title">مؤشرات الاداء للاجراءات</div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color done"></span>
                منجز
              </div>
              <div class="status-precent">
                {{
                (completedProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
            <div class="status-row flex justify-between mb-5">
              <div class="status-name flex items-center gap-2">
                <span class="status-color late"></span>
                متعثر
              </div>
              <div class="status-precent">
                {{
                (stalledProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
            <div class="status-row flex justify-between">
              <div class="status-name flex items-center gap-2">
                <span class="status-color in-progress"></span>
                قيد التنفيذ
              </div>
              <div class="status-precent">
                {{
                (inProgressProcedures?.length / allProceduresLength) * 100
                | number : ".0-2"
                }}
                {{ "%" }}
              </div>
            </div>
          </div>
          <div id="chart">
            <apx-chart [series]="proceduresChartOptions.series" [chart]="proceduresChartOptions.chart"
              [labels]="proceduresChartOptions.labels" [fill]="proceduresChartOptions.fill"
              [dataLabels]="proceduresChartOptions.dataLabels"
              [responsive]="proceduresChartOptions.responsive"></apx-chart>
          </div>
        </div>
      </div>

      <!-- آخر التحديثات -->

      <div class="last-updates mb-3 pb-2">
        <div class="title p-3">آخر التحديثات</div>
        <div class="update-details p-3" *ngFor="let history of histories; index as i">
          <ng-container *ngIf="i < 6">
            <div class="date mb-1">{{ history.created_at | date }}</div>
            <div class="details flex items-center">
              <span *ngIf="history.action === 'create'">
                تم اضافة المشروع بواسطة
              </span>

              <span *ngIf="history.action === 'update'">
                تم تعديل المشروع بواسطة
              </span>

              <div class="user-info flex gap-2 mr-1">
                <img *ngIf="history.user?.image" src="{{ history.user?.image }}" class="user-image" alt="" />
                <mat-icon *ngIf="!history.user?.image">person</mat-icon>
                {{ history.user?.name }}
              </div>
            </div>
          </ng-container>
        </div>
        <button class="more-btn m-3">المزيد</button>
      </div>

      <!-- قرارات اللجنة العليا لحماية البيئة -->

      <app-decisions-list [showMore]="true" [decisions]="decisions"></app-decisions-list>

      <!-- إجراءات تنفيذ البرنامج -->

      <app-procedures-list *ngIf="inProgressProcedures && completedProcedures && stalledProcedures"
        [inProgressProcedures]="inProgressProcedures" [completedProcedures]="completedProcedures"
        [stalledProcedures]="stalledProcedures" [project]="project"></app-procedures-list>
    </div>

    <div class="latest-reports w-1/4">
      <button class="send-report-btn mb-3" [routerLink]="'/main/programs/' + project.id + '/reports/create'">
        إرسال تقرير عن البرامج الي اللجنة العليا
      </button>
      <div class="latest-committee-list mb-3">
        <div class="header flex justify-between p-3">
          <div class="latest-committee-title">أخر مستجدات اللجنة</div>
          <button class="more-btn" [routerLink]="'/main/committee-updates-list/' + project.id">
            المزيد
          </button>
        </div>
        <div class="committee-list p-3 flex flex-col gap-2">
          <div [routerLink]="'/main/committee-updates-list/' + post?.id" class="committee flex gap-4"
            *ngFor="let post of posts">
            <img class="committee-image" src="{{ post.image }}" alt="" />
            <div class="committee-details">
              <div class="mb-3">{{ post.title }}</div>
              <div>{{ post.created_at | date }}</div>
            </div>
          </div>
        </div>
      </div>








      <div class="members-list p-3 flex flex-wrap gap-2">

        <div class="w-100 flex justify-between items-center border-b pb-2 mb-2">
          <span class="text-sm text-gray-700 font-semibold">  الأعضاء</span>
          <button [routerLink]="'/main/programs/' + projectId + '/members'" class="text-sm text-blue-500 hover:underline">المزيد</button>
        </div>

        <div class="p-3 flex flex-wrap gap-2">

          <div class="user-info flex gap-2 mr-1 relative items-center" *ngFor="let member of project?.members"
            (mouseenter)="showToolTip(member?.id)" (mouseleave)="startHideTimeout()">
            <img *ngIf="member.user?.image" [src]="member.user?.image" class="user-image" alt="User image" />
            <mat-icon *ngIf="!member.user?.image">person</mat-icon>

            {{ member.user?.name }}

            <div *ngIf="tooltipVisible === member?.id"
              class="custom-tooltip absolute bg-white shadow-md flex items-center justify-center gap-1 p-2"
              (mouseenter)="cancelHideTimeout()" (mouseleave)="startHideTimeout()">
              <mat-icon class="cursor-pointer text-red-500" (click)="openDeleteMemberDialog(member?.id)">
                delete
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ملفات تم رفعها مؤخرا -->
  <app-files-list [files]="files" [programName]="project.title"></app-files-list>
</div>