<div class="wrapper veryLightGray-bg" dir="rtl">
  <a [queryParamsHandling]="'merge'" routerLink="/">
    <img class="logo" src="assets/images/logo.png" alt="الشعار" />
  </a>
</div>

<div class="code-container" dir="rtl">
  <h1 class="container-title">أدخل رمز التحقق (OTP)</h1>

  <div class="microsoft">
    <div class="microsoft-title">تطبيق المصادقة</div>

    <div class="content-wrapper">
      <div class="img-wrapper mb-3">
        <mat-label class="content-title">
          أدخل الرمز الذي استلمته في تطبيق المصادقة
        </mat-label>
        <img
          class="auth-image"
          src="assets/images/microsoft-authenticator.png"
          alt="تطبيق المصادقة"
        />
      </div>

      <mat-form-field class="otp-field">
        <input [(ngModel)]="otpValue" matInput placeholder="أدخل الرمز" />
      </mat-form-field>

      <mat-error *ngIf="error">{{ error }}</mat-error>
    </div>

    <div *ngIf="type == 'generate'" style="display: flex; gap: 30px">
      <button
        mat-raised-button
        routerLink="/login/qr-authenticator"
        class="back"
      >
        رجوع
      </button>

      <button
        mat-raised-button
        class="add-btn"
        (click)="siginInOtp()"
        color="primary"
      >
        التالي
      </button>
    </div>

    <div *ngIf="type === 'signin'" style="display: flex; gap: 30px">


      <button mat-button (click)="dismiss.emit(true)">
        رجوع
      </button>

      <button
      mat-raised-button
      class="next"
      (click)="mfaEntered.emit(otpValue)"
      color="primary"
    >
      تسجيل الدخول
    </button>
    </div>
  </div>
</div>
