<div class="user-information-container flex w-full">
  <div class="user-information flex w-[65%]">
    <div class="info w-[75%]">
      <div class="header">
        Admin <span class="role">admin</span> <span class="commite"></span>
      </div>
      <div class="info-row">
        <div class="title">الاسم</div>
        <div class="value">admin</div>
      </div>
      <div class="info-row">
        <div class="title">المنصب</div>
        <div class="value">اللجنة العليا</div>
      </div>
      <div class="info-row">
        <div class="title">الادارة</div>
        <div class="value">programmer</div>
      </div>
      <div class="info-row">
        <div class="title">رقم الهاتف</div>
        <div class="value">لا يوجد</div>
      </div>
      <div class="info-row">
        <div class="title">جوال</div>
        <div class="value">966456546546</div>
      </div>
      <div class="info-row">
        <div class="title">فاكس</div>
        <div class="value">لا يوجد</div>
      </div>
      <div class="info-row">
        <div class="title">البريدالإلكتروني</div>
        <div class="value">ahmed&#64;etree.com.sa</div>
      </div>
      <div class="info-row">
        <div class="title">تاريخ الإنضمام</div>
        <div class="value">25-1-2017</div>
      </div>
    </div>
    <div class="image-wrapper w-[25%]">
      <img src="assets/images/user-image.jpg" alt="" />
      <div class="last-time">اخر تواجد كان بتاريخ 17-2-2025</div>
    </div>
  </div>
  <div class="statics w-[35%]"></div>
</div>
