.users-container{
    background-color: white;
    color: #858585;
    font-weight: 500;
    .users-table{
        padding: 5px;
        width: 100%;
        table-layout: fixed;
        th{
            text-align: justify;
            padding: 5px;
            border-bottom: 1px solid #f6f6f6;
        }
        td{
            height: 50px;
            padding: 5px;
            border-bottom: 1px solid #f6f6f6;
            line-height: 30px;
            button{
                width: 49%;
                padding: 2px 5px;
                font-size: 12px;
                border-radius: 3px;
                color: white;
                margin-left: 1%;
                font-weight: 500;
            }
            .edit-permission{
                background-color: #337ab7;   
            }
            .delete-permission{
                background-color: #d9534f;
            }
            
        }
    }
}