<div class="new-meeting-container m-5 h-full">
  <div class="header p-4">اجتماع جديد</div>
  <form (submit)="createMeeting()" action="" class="p-4" [formGroup]="form">
    <div class="input-field flex justify-between mb-3">
      <label> عنوان الاجتماع </label>
      <input type="text" class="address-input" formControlName="title" />
    </div>
    <div class="input-field flex justify-between mb-3">
      <label>مكان الاجتماع </label>
      <input formControlName="meeting_address" type="text" class="address-input" />
    </div>
    <!-- Committees Dropdown -->

    <!-- ignore it for now  -->
    <!-- <div class="input-field flex justify-between mb-3">
      <span> اللجان </span>

      <mat-form-field class="custom-dropdown dropdown-container">
        <mat-select formControlName="members_ids" multiple> </mat-select>
      </mat-form-field>

    </div> -->


    <!-- Members Dropdown -->
    <div class="input-field flex justify-between mb-3">
      <label> الأعضاء </label>

      <mat-form-field class="custom-dropdown dropdown-container">
        <mat-select formControlName="members_ids" multiple>
          <mat-option *ngFor="let user of users$ | async" [value]="user.id"> {{user?.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <!-- Programs Dropdown -->
    <div class="input-field flex justify-between mb-3">
      <label> البرامج </label>

      <mat-form-field class="custom-dropdown dropdown-container">
        <mat-select multiple formControlName="projects_ids">
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id"> {{project.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="start-date-wrapper flex gap-4 mb-3">
      <div class="start-date-input flex items-center gap-2 w-1/2">
        <label for="">تاريخ بداية الاجتماع</label>
        <input class="flex-grow" matInput formControlName="meeting_date" (click)="setTodayDate()"
          [matDatepicker]="picker" />
        <mat-datepicker-toggle matIconSuffix [for]="picker" (click)="setTodayDate()"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="meeting-time-input flex items-center gap-2 w-1/2">
        <label for="">وقت بداية الاجتماع</label>
        <p-datepicker inputId="calendar-timeonly" formControlName="meeting_time" [timeOnly]="true"
           class="flex-grow" />
        <i class="bi bi-clock" style="font-size: 20px ;margin: 0 15px;"></i>
      </div>
    </div>

    <textarea name="" id="" class="details" placeholder="التفاصيل" formControlName="content"></textarea>
    <div class="uploaded-files input-field mb-3">
      <label class="title">ملفات مرفقة</label>
      <input (change)="onFileSelected($event)"
       formControlName="files" type="file" multiple id="fileInput" hidden />
      <div class="upload-files-button p-4" onclick="document.getElementById('fileInput').click()">
        <label>اسحب الملف هنا...</label>
        <div class="choose-file">
          أو قم باختيار الملف..
          <i class="bi bi-upload"></i>
        </div>
      </div>
      <div class="selected-files"></div>
    </div>
    <div class="input-field mb-9">
      تذكير قبل ب
      <select class="reminder" formControlName="reminder_time">
        <option value="0">بدون تذكير</option>
        <option *ngFor="let time of times" value="{{time}}">{{time}}</option>
      </select>
      دقيقة
    </div>

    <button class="add-btn" [disabled]>اضافة اجتماع</button>
  </form>
</div>