<div class="sidebar-container">
  <div class="sidebar-title">بوابة المشاريع</div>
  <div class="profile-info w-100 px-3 py-9">
    <div class="info flex gap-2 items-center">
      <img src="{{ userInfo.image }}" class="user-image" alt="" />
      <div class="about-user">
        <div class="user-name">{{ userInfo.name }}</div>
        <div class="user-role">{{ userInfo.role || 'Admin' }}</div>
      </div>
    </div>
    <div class="actions text-white flex gap-3 my-5">
      <button class="notifications">
        <i class="bi bi-bell-fill"></i>
        {{ notificationsCount }} الاشعارات
      </button>
      <button (click)="logout()" class="logout">
        <i class="bi bi-person-fill"></i>
        تسحيل الخروج
      </button>
    </div>
  </div>

  <ul>
    <li class="sidebar-item text-white">
      <app-sidebar-item [item]="programsParent">
        <li *ngFor="let item of programsParent.programs" class="text-white">
          <app-sidebar-item [item]="item" [background]="'#e0e0e0'">
          </app-sidebar-item>
        </li>
        <div class="search-wrapper ">
          <input class="w-full search-input" type="search"  placeholder="ابحث في البرامج" />
          <i class="bi bi-search search-icon"></i>
        </div>
      </app-sidebar-item>
    </li>

    <li *ngFor="let item of routes" class="text-white">
      <app-sidebar-item [showImage]="true" [item]="item"></app-sidebar-item>
    </li>

    <li class="sidebar-item text-white flex p-3 gap-2 setting-item">
      <img src="assets/images/settings.svg" alt="" class="item-icon" />
      <a routerLink="/main/settings"> الاعدادات </a>
    </li>
  </ul>
</div>
