.sidebar-container {
  width: 320px;
  height: 100%;
  z-index: 10;
  background: #d0d0d0;
  .sidebar-title {
    color: #8bb81f;
    font-size: 25px;
    font-family: "29LTBukra-Bold";
    height: 70px;
    display: flex;
    align-items: center;
    background: #ececec;
    padding-right: 12px;
    font-weight: 700;
  }
  .profile-info {
    background: #7ea71d;
    .info {
      .user-image {
        width: 80px;
        height: 80px;
        border-radius: 10px;
      }
      .user-name {
        color: #fefefe;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .user-role {
        color: #c5ef61;
        font-size: 15px;
      }
    }
    .actions {
      button {
        border: none;
        &:hover {
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
  .sidebar-item {
    
    background: #9d9d9d;
    height: fit-content;
    min-height: 60px;
    font-size: 18px;
    font-weight: 500;
    &:hover {
      cursor: pointer;
    }
    .item-childern {
      display: block;
      transition: all 1s ease-in-out;
      .child {
        height: 50px;
        background: #eaeaea;
        border-bottom: 1px solid #dedede;
        .v-line{
          display: block;
          width: 40px;
          height: 100%;
          border-left: 1px solid #e0e0e0;
        }
        .child-name{
          display: block;
          color: #8a8a8a;
          margin: 0;
        }
        .child-image{
          width: 20px;
        }
      }
    }
  }
}
.item-icon {
  width: 28px;
}