
<mat-card [ngClass]="viewMode == viewEnum.ViewOne ? 'hover shadow-md hover:shadow-2xl transition-shadow duration-300' : 'program-row'">
  <div [routerLink]="'/main/programs/' + project.id + '/procedures'" class="title-container">

    <h2 class="main-title">
      <mat-icon [class.star-color] ="true" class="mx-2">star</mat-icon>
      <!-- <mat-icon>star</mat-icon> -->
      <!-- <mat-icon [class.star-bg] ="true">star_border</mat-icon> -->

      {{project.title}}
    </h2>

    <div class="overflow-hidden">
      <img class="transition-transform duration-500 ease-in-out hover:scale-125" [src]="project.image"  alt="">
    </div>
  </div>

  <mat-card-footer >
    <div class="grid grid-cols-2 footer-view-one">
      <button [routerLink]="'/main/programs/update/' + project.id" class="flex hover:[background-color:#7ea71d]" mat-button>
        <mat-icon>
          edit
        </mat-icon>
        تعديل
      </button>

      <button (click)="deleteProject(project.id)" class="flex hover:bg-red-500" mat-button>
        <mat-icon>
          delete
        </mat-icon>
        حذف
      </button>
    </div>
  </mat-card-footer>
</mat-card>
