
<mat-card class="hover shadow-md hover:shadow-2xl transition-shadow duration-300">
  <div [routerLink]="'/main/programs/' + project.id + '/procedures'" class="">

    <h2 class="main-title">
      <mat-icon [class.star-color] ="true">star</mat-icon>
      <!-- <mat-icon>star</mat-icon> -->
      <!-- <mat-icon [class.star-bg] ="true">star_border</mat-icon> -->

      {{project.title}}
    </h2>

    <div class="overflow-hidden">
      <img class="transition-transform duration-500 ease-in-out hover:scale-125" [src]="project.image"  alt="">
    </div>
  </div>

  <mat-card-footer>
    <div class="grid grid-cols-2">
      <button [routerLink]="'/main/programs/update/' + project.id" class="flex" mat-button>
        <mat-icon>
          edit
        </mat-icon>
        تعديل
      </button>

      <button (click)="deleteProject(project.id)" class="flex" mat-button>
        <mat-icon>
          delete
        </mat-icon>
        حذف
      </button>
    </div>
  </mat-card-footer>
</mat-card>
