<div class="edit-member-container flex gap-7 p-10" [formGroup]="memberForm">
  <div class="user-form w-[70%] p-9">
    <div class="input-field">
      <label>الصورة</label>
      <input type="file" />
    </div>
    <div class="input-field">
      <label>الاسم</label>
      <input formControlName="name" placeholder="الاسم" type="text" />
    </div>
    <div class="input-field">
      <label>البريد الالكتروني</label>
      <input
        formControlName="email"
        placeholder="البريد الالكتروني"
        type="text"
      />
    </div>
    <div class="input-field">
      <label>كلمة المرور </label>
      <input
        formControlName="password"
        placeholder="كلمة المرور "
        type="password"
      />
    </div>
    <div class="input-field">
      <label>تاكيد كلمة المرور </label>
      <input
        formControlName="confirmPassword"
        placeholder="تاكيد كلمة المرور "
        type="password"
      />
    </div>
    <div class="input-field">
      <label>المسمي الوظيفي</label>
      <input
        formControlName="position"
        placeholder="المسمي الوظيفي"
        type="text"
      />
    </div>
    <div class="input-field">
      <label>القسم</label>
      <input formControlName="group" placeholder="القسم" type="text" />
    </div>
    <div class="input-field">
      <label>الهاتف</label>
      <input formControlName="phone" placeholder="الهاتف" type="text" />
    </div>
    <div class="input-field">
      <label>الجوال</label>
      <input formControlName="mobile" placeholder="الجوال" type="text" />
    </div>
    <div class="input-field">
      <label>الفاكس</label>
      <input formControlName="fax" placeholder="الفاكس" type="text" />
    </div>
    <div class="input-field my-5">
      <mat-slide-toggle formControlName="email_verified" [checked]="memberForm.get('email_verified').value"> تنشيط </mat-slide-toggle>
    </div>
    <div class="input-field my-7">
      <mat-slide-toggle formControlName="block" > حظر </mat-slide-toggle>
    </div>
    <button class="edit-btn" (click)="editMember()">
        موافق
    </button>
  </div>
</div>
