<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="committees-form p-9">
  <form action="" [formGroup]="rolesForm">
    <p>
      <mat-slide-toggle formControlName="admin" disabled labelPosition="before">
        admin
        <i class="bi bi-asterisk" style="color: #db2828"></i>
      </mat-slide-toggle>
    </p>
    <p>
      <mat-slide-toggle
        formControlName="technicalCommittee"
        labelPosition="before"
        >اللجنة الفنية</mat-slide-toggle
      >
    </p>
    <p>
      <mat-slide-toggle
        formControlName="supremeCommittee"
        labelPosition="before"
        >اللجنة العليا</mat-slide-toggle
      >
    </p>
    <p>
      <mat-slide-toggle
        formControlName="reportsFollowUpCommittee"
        labelPosition="before"
        >لحنة متابعة التقارير</mat-slide-toggle
      >
    </p>
    <p>
      <mat-slide-toggle
        formControlName="programSupervisors"
        labelPosition="before"
        >مشرفين البرامج</mat-slide-toggle
      >
    </p>
    <button class="accept-btn" (click)="editRoles()">موافق</button>

  </form>
</div>
