<div class="wrapper veryLightGray-bg">
  <a [queryParamsHandling]="'merge'" routerLink="/">
    <img class="logo" src="assets/icons/logo.svg" alt="">
  </a>
</div>
<div class="container">
  <h1 class="container-title">Keep your account secure</h1>
  <div class="microsoft">
    <div class="microsoft-title">Success!</div>
    <div class="content-wrapper">
      <div class="content">
        <p class="content-title">Great job! You have successfully set up your security info. Choose "Done" to continue signing in.</p>
        <p class="default">Default sign-in method:</p>
        <div class="method">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="actions">
      <button>Done</button>
    </div>
  </div>
</div>
