<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>

<div class="container w-100 h-full flex items-center justify-center">
    <div *ngIf="loaded" class="setting-form p-10">
        <form (submit)="updataSite()"  [formGroup]="settingForm">
          <div class="text-red-500 text-center w-100" *ngIf="error">
            <mat-error>
                {{error}}
            </mat-error>
          </div>

            <div class="input-field">
                <label for="site_name">اسم الموقع</label>
                <input
                id="site_name"
                formControlName="site_name"
                [class.error]="settingForm.get('site_name')?.invalid && settingForm.get('site_name')?.touched"
                placeholder="اسم الموقع"
                />
                <div class="error-message" *ngIf="settingForm.get('site_name')?.errors?.['required']" > اسم الموقع مطلوب</div>
            </div>

            <div class="input-field">
                <label for="email">البريد الإلكتروني</label>
                <input
                id="email"
                formControlName="email"
                [class.error]="settingForm.get('email')?.invalid && settingForm.get('email')?.touched"
                placeholder="البريد الإلكتروني"
                />
                <div class="error-message mt-2" *ngIf="settingForm.get('email')?.errors?.['required'] && settingForm.get('email')?.touched">البريد الإلكتروني مطلوب.</div>
                <div class="error-message mt-2" *ngIf="settingForm.get('email')?.errors?.['email'] && settingForm.get('email')?.touched">البريد الالكتروني غير صحيح.</div>
            </div>

            <div class="status-toggle-wraper">
                <div class="toggle-wrapper">
                    <p><mat-slide-toggle labelPosition="after" formControlName="email_status" class="mx-10">حالة ارسال رسائل email</mat-slide-toggle></p>
                </div>
                <div class="toggle-wrapper">
                    <p><mat-slide-toggle formControlName="sms_status" labelPosition="after" class="mx-10">حالة ارسال رسائل sms</mat-slide-toggle></p>
                </div>
            </div>
            <button class="accept-btn flex "  [class.loading-btn]="updating" [disabled]="settingForm.value.invalid || !canUpdate">موافق</button>
        </form>
    </div>
</div>