mat-sidenav-container{
  width: 100%;
  height: 100vh;
  background-color: #eeeeee !important;
}


mat-sidenav {
  width: 400px !important; /* Set sidebar width */
  max-width: 500px; /* Optional max width */
}
