<div class="login-container flex items-center justify-center h-screen">
  <div class="side-right w-1/2 h-screen">
    <a href="" class="logo">
      <img src="assets/images/logo.png" alt="بيئة الرياض">
      <h1 class="title">بوابة البرنامج</h1>
    </a>
  </div>
  <div class="side-left w-1/2 flex items-center justify-center">
    <div class="login-form">
      <div class="header">تسجيل الدخول</div>
      <form class="p-5" [formGroup]="loginForm">
        <div *ngIf="errors" class="text-red-500 m-2 center">
          <mat-error>{{errors}}</mat-error>
        </div>

        <div class="input-field mb-8 ">
          <label for="email">البريد الإلكتروني</label>
          <input
          id="email"
          formControlName="email"
          [class.error]="!loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          />
          <div *ngIf="!loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">حقل البريد الالكتروني مطلوب.</div>
        </div>
        <div class="input-field mb-8">
          <label for="password">كلمة المرور</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            [class.error]="!loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
           />
           <div *ngIf="!loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">حقل كلمة المرور مطلوب.</div>
        </div>

        <!-- <div class="captcha-wrapper flex items-center gap-10">
          <div class="input-field mb-8 w-1/2">
            <label for="captcha">كود التحققق</label>
            <input id="captcha" />
          </div>
          <div class="captcha w-1/2 flex items-center justify-center">{{captchaNumber}}</div>
        </div> -->



        <div class="login-actions flex items-center justify-between ">
          <a routerLink="/login/forget-password">نسيت كلمة المرور</a>
          <div class="remeber-input-field flex items-center gap-2 ">
            <label for="remeber-me" class="remeber-me">تذكرني</label>
            <input id="remeber-me" type="checkbox" />
          </div>
        </div>

        <!-- RECAPTCHA_SITE_KEY=6Ldiy_0qAAAAAHaLWSfUDA0imzFPTeMaE9rIchic -->
        <!-- secret key: 6Ldiy_0qAAAAAPbkg7TViMyV3iNF84dDXsl5MI-I -->
      </form>
      <button class="enter-btn"  (click)="validateCaptcha()">دخول</button>
    </div>
  </div>
</div>
