<div *ngIf="!showMFAValidator" class="login-container flex items-center justify-center h-screen">
  <div class="side-right w-1/2 h-screen">
    <a href="" class="logo">
      <img src="assets/images/logo.png" alt="بيئة الرياض" />
      <h1 class="title">بوابة البرنامج</h1>
    </a>
  </div>
  <div class="side-left w-1/2 flex items-center justify-center">
    <div class="login-form">
      <div class="header">تسجيل الدخول</div>
      <form class="p-5" [formGroup]="loginForm">
        <div class="text-red-500 m-2 center">
          <div *ngIf="errors" class="error-message">{{ errorMessage }}</div>
        </div>

        <div class="input-field mb-8">
          <label for="email">البريد الإلكتروني</label>
          <input id="email" formControlName="email" />
        </div>
        <div class="input-field mb-8">
          <label for="password">كلمة المرور</label>
          <input type="password" id="password" formControlName="password" />
        </div>

        <!-- <div class="captcha-wrapper flex items-center gap-10">
          <div class="input-field mb-8 w-1/2">
            <label for="captcha">كود التحققق</label>
            <input id="captcha" />
          </div>
          <div class="captcha w-1/2 flex items-center justify-center">{{captchaNumber}}</div>
        </div> -->

        <div class="login-actions flex items-center justify-between">
          <a routerLink="/login/forget-password">نسيت كلمة المرور</a>
          <div class="remeber-input-field flex items-center gap-2">
            <label for="remeber-me" class="remeber-me">تذكرني</label>
            <input id="remeber-me" type="checkbox" />
          </div>
        </div>

        <!-- RECAPTCHA_SITE_KEY=6Ldiy_0qAAAAAHaLWSfUDA0imzFPTeMaE9rIchic -->
        <!-- secret key: 6Ldiy_0qAAAAAPbkg7TViMyV3iNF84dDXsl5MI-I -->
      </form>

      <button
        [class.loading-btn]="isUpdating"
        class="enter-btn"
        (click)="checkIfEmailRequiredMFA()"
      >
        دخول
      </button>
    </div>
  </div>
</div>


<app-code-authenticator [type]="'signin'" (mfaEntered)="validateCaptcha($event)"  (dismiss)="showMFAValidator = false" *ngIf="showMFAValidator"></app-code-authenticator>