<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="updates-container " >
    <table class="updates-table" >
        <thead>
          <tr>
            <th colspan="7">الاسم</th>
            <th colspan="2">الصورة</th>
            <th colspan="3">خيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td colspan="7" class="news-name" [routerLink]='[post.id]'>{{post.title}}</td>
            <td colspan="2"><img class="news-image" [routerLink]='[post.id]' src="{{post.image}}"></td>
            <td colspan="3">
                <button class="edit-news">
                    <i class="bi bi-pencil-square"></i>
                    تعديل الخبر
                </button>
                <button class="delete-news" (click)="delete(post.id)">
                    <i class="bi bi-trash3-fill"></i>
                    حذف الخبر
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>