<app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
<form (submit)="sendMessage()" [formGroup]="form">

  <div class="new-message-container ">
    <div class="title p-3">
      ارسال رسالة جديدة خاصة للأعضاء
    </div>
    <div class="memebers p-3 flex gap-4 w-full">
      <span>الأعضاء</span>

      <magic-select  class="flex-grow" [magicValue]="'all_members'" [magicLabel]="'جميع الأعضاء' "  [items]="allMembers$ | async" [control]="form.get('members_ids')"></magic-select>
    </div>
    <div class="p-3 ">
      <textarea formControlName="message" class="new-message-textarea mb-3" placeholder="نص الرسالة"
        rows="10"></textarea>
      <button [class.loading-btn]="isUpdating" [disabled]="form.invalid" class="send-message">ارسال رسالة</button>
    </div>
  </div>
</form>
