
<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="messages-container  h-full w-100">
  <div class="messages-header p-3">الرسائل القصيرة</div>
  <div class="messages-content p-3">
    <div class="message-item" *ngFor="let message of messages">
      <div class="message-date">{{ message.created_at }}</div>
      <div class="message-details  p-2 flex" >
        <div class="message-card" >
          <div class="message-status">تم ارسال الرسالة</div>
          <div class="message-body mb-3"  >
            <div class="message-text-content w-100">
              <div class="message-text">{{ message.message }}</div>
              <div class="message-date-info">{{ message.updated_at }}</div>
              <div class="message-location">
                الموقع: {{ message.location ?? "لا يوجد" }}
              </div>
            </div>
            <div class="message-recipients flex flex-wrap items-center gap-2">
              <span class="recipients-title">مرسلة الي</span>
              <div
                class="recipient-item flex gap-2"
                *ngFor="let member of message.members"
              >
                <img
                  src="{{ member?.user?.image }}"
                  alt=""
                  class="recipient-photo"
                />
                <div class="recipient-name">{{ member.user.name }}</div>
              </div>
            </div>
            <div class="server-status">
                حالة الرسالة : <span class="status-wrapper">  {{message.status ?? 'لا يوجد'}} </span>
            </div>
          </div>
        </div>
        <div class="message-time">
          {{ message.hour }}
        </div>
      </div>
    </div>
  </div>
</div>
