.messages-container {
    background-color: white;
    border-radius: 6px;
  }
  
  .messages-header {
    border-bottom: 1px solid #eeeeee;
    color: #858585;
    font-size: 15px;
    font-weight: 500;
  }
  
  .message-date {
    color: #737373;
    font-weight: bolder;
  }
  
  .message-card {
    width: 80%;
  }
  
  .message-body {
      .message-text-content {
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 6px;
      }
  }
  