<form (submit)="sendLink()" class="forget-container flex flex-wrap">
  <div class="left-side w-1/2 h-full">
    <div class="title">مدينة الرياض</div>
    <div class="content">
      مدينة الرياض عاصمة المملكة العربية السعودية، وواحدة من أسرع مدن العالم
      نمواً حيث يبلغ عدد سكانها أكثر من 6 ملايين نسمة وتجاوز معدل النمو السكاني
      خلال السنوات العشر الماضية % 4 سنوياً، وتُشير التوقعات إلى أن عدد السكان
      يمكن أن يصل 8.5 مليون نسمة في عام 1450 ه. تبلغ مساحة المناطق المطورة في
      المدينة 1300 كيلو متر مربع، ويقدر نطاقها العمراني المقترح حتى عام 1450 ه
      بحوالي 3115 كيلو متراً مربعاً، ويعكس ذلك التوسع الكبير الذي تشهده المدينة
      أبرز حواضر المملكة وأحد حواضر العالم الأبرز. اعتمد المخطط الشامل لمدينة
      الرياض المُحدث في عام 1432 ه والمُشتمل على الاستراتيجية البيئية كإحدى
      الاستراتيجيات الواردة ضمن المخطط الاستراتيجي الشامل، كما تضمنت تلك
      الاستراتيجية البيئية
      <br />
      تبلغ مساحة المناطق المطورة في المدينة 1300 كيلو متر مربع، ويقدر نطاقها
      العمراني المقترح حتى عام 1450 ه بحوالي 3115 كيلو متراً مربعاً، ويعكس ذلك
      التوسع الكبير الذي تشهده المدينة أبرز حواضر المملكة وأحد حواضر العالم
      الأبرز. اعتمد المخطط الشامل لمدينة الرياض المُحدث في عام 1432 ه والمُشتمل
      على الاستراتيجية البيئية كإحدى الاستراتيجيات الواردة ضمن المخطط
      الاستراتيجي الشامل، كما تضمنت تلك الاستراتيجية البيئية برنامجاً تنفيذياً
      مفصلاً.
    </div>
  </div>
  <div class="right-side w-1/2 h-full flex items-center justify-center">
    <div class="register-container ">
      <div class="header">بوابة البرامج</div>
      <div class="input-field ">
        <label for="email" class="block reset-label">استعادة كلمة المرور</label>
        <input placeholder="الايميل" type="email" name="email" [(ngModel)]="email" class="block w-100 reset-input" id="email"  />
        <button class="send-btn" >إرسال رابط كلمة المرور</button>
      </div>
    </div>
  </div>
</form>
