<app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
<div *ngIf="isLoaded" class="procedures-container flex gap-5 pv-5 w-full">
  <div class="procedure-details w-[67%]">
    <mat-card class="p-4">
      <h2>
        {{procedure.content}}
      </h2>

      <app-files-list *ngIf="procedure?.files?.length > 0" [files]="procedure.files"></app-files-list>
    </mat-card>

    <app-comments [comments]="procedure.comments" (addComment)="addComment()" [form]="commentForm"></app-comments>
  </div>


  <!-- left side  -->
  <div class="latest-reports w-[33%]">
    <div class="bg-white w-100 rounded-lg shadow p-4 w-fit text-right">
      <!-- Header -->
      <div class="flex justify-between items-center border-b pb-2 mb-2">
        <span class="text-sm text-gray-700 font-semibold">مؤشرات الاداء للاجراءات</span>
        <button [routerLink]="'/main/programs/' + projectId + '/procedures/update/' + procedureId"
          class="text-sm text-blue-500 hover:underline">تعديل</button>
      </div>

      <!-- Status Row -->
      <div class="flex justify-between items-center mb-2">
        <div class="flex items-center gap-1">
          <span class="w-3 h-3 rounded-sm bg-green-700 inline-block"></span>
          <span class="text-sm text-gray-700"> حالة الاجراء</span>
          :
          <span class="text-sm text-green-700 font-medium">{{procedure.status?.status_name}}</span>
        </div>
      </div>

      <!-- Success Rate Row -->
      <div class="flex justify-between items-center border-t pt-2">
        <div class="flex items-center gap-1">
          <span class="w-3 h-3 rounded-sm bg-gray-400 inline-block"></span>
          <span class="text-sm text-gray-700"> نسبة الانجاز</span>
          :
          <span class="text-sm text-gray-600 font-medium">{{procedure.progress_percentage}}%</span>
        </div>
      </div>
    </div>


    <!-- members  -->

    <div class="mt-5 bg-white w-100 rounded-lg shadow p-4 w-fit text-right">
      <div class="flex justify-between items-center border-b pb-2 mb-2">
        <span class="text-sm text-gray-700 font-semibold"> الأعضاء</span>
        <button [routerLink]="'/main/programs/' + projectId + '/members'"
          class="text-sm text-blue-500 hover:underline">المزيد</button>
      </div>

      <div class="p-3 flex flex-wrap gap-2">

        <div class="user-info flex gap-2 mr-1 relative items-center" *ngFor="let member of procedure?.members">
          <img *ngIf="member.user?.image" [src]="member.user?.image" class="user-image" alt="User image" />
          <mat-icon *ngIf="!member.user?.image">person</mat-icon>

          {{ member.user?.name }}

        </div>
      </div>


    </div>
  </div>
</div>