<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>

<div class="decisions-list-container font-medium ">
  <div class="header w-full p2 flex items-center justify-between p-2">
    <div class="title">قرارت اللجنة العليا لحماية البيئة</div>
    <button class="new-decision" routerLink="/main/new-decision">
      اضافة قرار
    </button>
  </div>
  <div class="decisions-list p-2">
    <div
      class="decision-wrapper flex gap-2 items-center relative"
      *ngFor="let decision of decisions"
    >
      <a
        [routerLink]="[decision.id]"
        class="decision-name block my-2"
        (mouseenter)="showToolTip(decision.id)"
        (mouseleave)="startHideTimeout()"
      >
        {{ decision.title }}
      </a>

      <!-- Tooltip -->
      <div
        *ngIf="tooltipVisible == decision.id"
        class="custom-tooltip absolute bg-white shadow-md flex items-center justify-center gap-1 p-2"
        (mouseenter)="cancelHideTimeout()"
        (mouseleave)="startHideTimeout()"
      >
        <i class="bi bi-trash3 trash-i" (click)="delete(decision.id)"></i>
        <i class="bi bi-pencil-square edit-i"></i>
      </div>

      <span class="decision-date" *ngIf="decision.progress_percentage">
        % {{ decision.progress_percentage }}  
      </span>
      <span class="decision-date" *ngIf="decision.date">
        {{ decision.date }}
      </span>
    </div>
    <button class="more-btn mx-3" *ngIf="showMorebutton">المزيد</button>
  </div>
</div>
