/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "@ng-select/ng-select/themes/material.theme.css";
@import 'button';
@import 'colors';
@import 'typo';
@import 'helper';
.w-100{
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*{
  box-sizing: border-box;
}

.uploadedFiles{

  .file{
      background: #e1e1e1;
      border-radius: 20px;
      padding: 3px 7px;
      cursor: pointer;
      .icon{
          width: 20px;
          height: 20px;
      }
      .name{
          color: #888888;
      }
  }
}
input{
  &::placeholder{
    height: 100%;
  }
}

.error{
  border-color: red !important;
}
.error-message{
  color: red;
}
.asterisk{
  color: red;
  font-size: 7px;
}

button{
  &:disabled{
    cursor: not-allowed !important;
    opacity: .5 !important;
  }
}
