<app-bread-crumb [breadCrumbs]="breadCrumbs"></app-bread-crumb>
<div *ngIf="isLoaded" class="create-user-wrapper flex gap-7 px-8" [formGroup]="userForm">
  <div class="user-form w-1/2 p-9">
    <div class="input-field">
      <label>الاسم</label>
      <input formControlName="name" placeholder="الاسم" type="text" />
    </div>
    <div class="input-field">
      <label>البريد الالكتروني</label>
      <input formControlName="email" placeholder="البريد الالكتروني" type="text" />
    </div>
    <div class="input-field">
      <label>كلمة المرور </label>
      <input formControlName="password" placeholder="كلمة المرور " type="password" />
    </div>
    <div class="input-field">
      <label>تاكيد كلمة المرور </label>
      <input formControlName="confirmPassword" placeholder="تاكيد كلمة المرور " type="password" />
    </div>
    <div class="input-field">
      <label>المسمي الوظيفي</label>
      <input formControlName="position" placeholder="المسمي الوظيفي" type="text" />
    </div>
    <div class="input-field">
      <label>الهاتف</label>
      <input formControlName="phone" placeholder="الهاتف" type="text" />
    </div>
    <div class="input-field">
      <label>الجوال</label>
      <input formControlName="mobile" placeholder="الجوال" type="text" />
    </div>
    <div class="input-field">
      <label>الفاكس</label>
      <input formControlName="fax" placeholder="الفاكس" type="text" />
    </div>
  </div>
  <div class="w-1/2">
    <div formGroupName="roles" class="committees-form w-full p-9">
      <div class="mb-2" *ngFor="let role of roles">
        <mat-slide-toggle [formControlName]="role.  id" [disabled]="role.name === 'admin'" labelPosition="before">
          {{role.name}}
          <i class="bi bi-asterisk" *ngIf="role.name === 'admin'" style="color: #db2828"></i>
        </mat-slide-toggle>
      </div>


    </div>

    <div class="options-form w-full p-9">
      <p>
        <mat-slide-toggle formControlName="activateMembership" labelPosition="before">تفعيل العضوية
        </mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle formControlName="sendActivationEmail" labelPosition="before">إرسال بريد التفعيل
        </mat-slide-toggle>
      </p>
      <p>
        <mat-slide-toggle formControlName="sendWelcomeEmail" labelPosition="before">إرسال ترحيب البريد الإلكتروني
        </mat-slide-toggle>
      </p>
      <button class="accept-btn" (click)="createUser()">موافق</button>
    </div>
  </div>
</div>
