.uploaded-files {
  .file {
    width: fit-content;
    background: #e1e1e1;
    border-radius: 20px;
    padding: 7px;
    margin: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    .icon {
      width: 20px;
      height: 20px;
    }

    .name {
      color: #888888;
    }
  }
}
