<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="permissions-container " >
    <table class="permissions-table" >
        <thead>
          <tr>
            <th colspan="3">الاسم</th>
            <th colspan="3">وصف</th>
            <th colspan="1">التحويل</th>
            <th colspan="2">خيارات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of permissions">
            <td colspan="3">{{permission.name}}</td>
            <td colspan="3">{{permission.description}} </td>

            <td colspan="1">
              <mat-icon *ngIf="permission.transformation === 1" class="text-green-500">check</mat-icon>
              <mat-icon *ngIf="permission.transformation === 0" color="warn">close</mat-icon>
            </td>

            <td colspan="2">
                <button [routerLink]="['/main/permissions/' + permission.id  ]" class="edit-permission">
                    <i class="bi bi-pencil-square"></i>
                    تحرير إذن
                </button>

                <button class="delete-permission" (click)="delete(permission.id)">
                    <i class="bi bi-trash3-fill"></i>
                    حذف إذن
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>