<nav *ngIf="breadCrumbs?.length" class="breadcrumb-container  flex justify-between">
    <ul class="breadcrumb">
      <li *ngFor="let breadcrumb of breadCrumbs; let last = last">
        <a *ngIf="!last" [routerLink]="breadcrumb.url">{{ breadcrumb.label}} ></a>
        <span class="last-item" *ngIf="last">{{ breadcrumb.label }}</span>
      </li>
    </ul>
    <button *ngIf="breadCrumbButton" class="bread-crumb-button" [routerLink]="breadCrumbButton.url">{{breadCrumbButton.label}}</button>
</nav>


